.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: $screen-sm) {
  .container {
    width: 90%;
  }
}

@media (min-width: $screen-sm) {
  .container {
    max-width: $screen-sm;
  }
}
@media (min-width: $screen-md) {
  .container {
    max-width: $screen-md;
  }
}
@media (min-width: $screen-lg) {
  .container {
    max-width: $screen-lg;
  }
}
@media (min-width: $screen-xl) {
  .container {
    max-width: $screen-xl;
  }
}
