.container {
  width: 100%;
}

@media (min-width: $screen-sm) {
  .container {
    max-width: $screen-sm;
  }
}
@media (min-width: $screen-md) {
  .container {
    max-width: $screen-md;
  }
}
@media (min-width: $screen-lg) {
  .container {
    max-width: $screen-lg;
  }
}
@media (min-width: $screen-xl) {
  .container {
    max-width: $screen-xl;
  }
}
