.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;

  &__brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 1000;
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--color-primary);
  }

  &__logo {
    height: 3rem;
    width: 3rem;
    stroke: var(--color-primary);
  }

  &__nav-links {
    display: flex;
    gap: 2rem;
  }

  &__nav-link {
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }
}
