@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Sans", sans-serif;
  line-height: 1.6;
  font-size: 1.1rem;
  color: var(--color-on-background);
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  letter-spacing: 1px;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
