// Colors
:root {
  --color-white: #f2f7ff;
  --color-dark: #23252e;
  --color-purple: #5d3d80;
  --color-purple-light: #ddcafc;
  --color-secondary: #579ec2;
}

// Light theme
body {
  --color-background: var(--color-white);
  --color-background-secondary: var(--color-purple-light);
  --color-on-background: var(--color-dark);
  --color-primary: var(--color-purple);
  --color-on-primary: var(--color-white);

  --gradient: linear-gradient(
    35deg,
    var(--color-purple) 0%,
    var(--color-purple) 30%,
    var(--color-secondary) 100%
  );
}

// Dark theme
body.dark-theme {
  --color-background: var(--color-dark);
  --color-background-secondary: var(--color-purple);
  --color-on-background: var(--color-white);
  --color-primary: var(--color-purple-light);
  --color-on-primary: var(--color-dark);

  --gradient: linear-gradient(
    35deg,
    var(--color-purple) 0%,
    var(--color-purple) 30%,
    var(--color-secondary) 100%
  );
}

// Box shadows
$shadow-xtra-sm: 0 1px 8px rgba(0, 0, 0, 0.05), 0 1px 6px rgba(0, 0, 0, 0.1);
$shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$shadow-md: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

// Media query widths
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
