.projects {
  margin-top: 4rem;
  padding: 8rem 1rem;
  text-align: center;
  background-color: var(--color-background-secondary);
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);

  &__heading {
    font-size: 2rem;
  }

  & p:first-of-type {
    margin-top: 2rem;
  }

  & p:last-of-type {
    margin-bottom: 2rem;
  }
}
